Orienteering/\.gradle/2\.2\.1/taskArtifacts/*
Orienteering/.gradle/2.2.1/taskArtifacts/cache.properties.lock
Orienteering/.gradle/2.2.1/taskArtifacts/fileHashes.bin
Orienteering/.gradle/2.2.1/taskArtifacts/fileSnapshots.bin
Orienteering/.gradle/2.2.1/taskArtifacts/outputFileStates.bin
Orienteering/.gradle/2.2.1/taskArtifacts/taskArtifacts.bin
Orienteering/.idea/gradle.xml
Orienteering/.idea/libraries/support_v4_19_1_0.xml
Orienteering/.idea/workspace.xml
Orienteering/app/app.iml
Orienteering/app/build/intermediates/incremental/mergeAssets/androidTest/debug/merger.xml
Orienteering/app/build/intermediates/incremental/mergeAssets/debug/merger.xml
Orienteering/app/build/intermediates/incremental/mergeResources/androidTest/debug/merger.xml
Orienteering/app/build/intermediates/incremental/mergeResources/debug/merger.xml
Orienteering/app/build/intermediates/pre-dexed/debug/support-v4-19.1.0-864efc004f649da7a577c1576517098bc4cbee79.jar           
Orienteering/app/build/intermediates/res/debug/drawable/shape.xml
Orienteering/app/build/intermediates/res/debug/drawable/shape_dialogue.xml
Orienteering/app/build/intermediates/res/debug/layout/activity_choose_mode.xml
Orienteering/app/build/intermediates/res/debug/layout/activity_gg.xml
Orienteering/app/build/intermediates/res/debug/layout/activity_login.xml
Orienteering/app/build/intermediates/res/debug/layout/activity_main.xml
Orienteering/app/build/intermediates/res/debug/layout/activity_my_hint.xml
Orienteering/app/build/intermediates/res/debug/layout/activity_save_load.xml
Orienteering/app/build/intermediates/res/debug/layout/activity_start.xml
Orienteering/app/build/intermediates/res/debug/layout/dialog_hint.xml
Orienteering/app/build/intermediates/res/debug/layout/dialog_msg.xml
Orienteering/app/build/intermediates/res/debug/layout/listitem.xml
Orienteering/app/build/intermediates/res/debug/menu/main.xml
Orienteering/app/build/intermediates/res/debug/values-sw720dp-land-v13/values.xml
Orienteering/app/build/intermediates/res/debug/values-v11/values.xml
Orienteering/app/build/intermediates/res/debug/values-v14/values.xml
Orienteering/app/build/intermediates/res/debug/values/values.xml
Orienteering/app/build/intermediates/resources/resources-debug-androidTest.ap_
Orienteering/app/build/intermediates/resources/resources-debug.ap_
Orienteering/app/build/outputs/apk/app-debug-unaligned.apk
Orienteering/app/build/outputs/apk/app-debug.apk
Orienteering/build/intermediates/dex-cache/cache.xml
Orienteering/build/intermediates/model_data.bin
Orienteering/local.properties
